*{
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("images/jb_eyes.svg");
    background-repeat: no-repeat;
    background-size: 80vw;
    background-position: center;

}

    h1{
    font-family:Arial, Helvetica, sans-serif;
    }
 
    body{
        background-color: #485e74;
      }
    #header_text {
      line-height: .75;
      font-weight: 900;
 
    }
    
      .carousel-item img {
        max-width:500px;
        width:100%;

      }
      .personnel-wrapper {
        margin: 0, auto;
      }
      