

.jumbotron {
    background-image: url("images/jb_eyes.svg");
    background-repeat: no-repeat;
    background-size: 80vw;
    background-position: center;

}

    h1{
    font-family:"Bubblegum Sans", sans-serif;
    }
 
    body{
        background-color: black;
        margin: 1vw;
      }
    #header_text {
      line-height: .5;
      font-weight: 900;
 
    }
    
      .carousel-item img {
        max-width:500px;
        width:100%;

      }
      .personnel-wrapper {
        margin: 0, auto;
      }
      